@tailwind utilities;

@layer utilities {
  .text-gray100 {
    color: #f7fafc; /* Your desired color value */
  }
  .bg-gray500 {
    color: #9e9e9e;
  }
  .bg-gray300 {
    color: #e0e0e0;
  }
}

.rightTextSection {
  /* @apply absolute top-1/3 right-8 sm:right-12 md:right-20 lg:right-40 flex flex-col items-end; */
  @apply absolute bottom-10 right-1/2 flex translate-x-1/2 transform flex-col items-center bg-white p-4 opacity-90 sm:top-1/3 sm:right-12 sm:transform-none sm:items-end sm:bg-transparent sm:p-0 sm:opacity-100 md:right-20 lg:right-40;
}

.leftTextSection {
  @apply absolute bottom-10 right-1/2 flex translate-x-1/2 transform flex-col items-center bg-white p-4 opacity-90 sm:top-1/3 sm:left-12 sm:transform-none sm:items-start sm:bg-transparent sm:p-0 sm:opacity-100 md:left-20 lg:left-40;
}

.subtitle {
  @apply bg-gray500 text-gray100 inline-block rounded-md p-1 text-base sm:text-xs;
}

.title {
  @apply my-4 text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
}

.arrows {
  @apply bg-gray300 absolute flex h-8 w-8 cursor-pointer items-center justify-center rounded-full opacity-60 hover:opacity-100;
}
